{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_head %}
<link rel="stylesheet"  type="text/css" href="{% static 'account-app/styles.css' %}">
{% endblock %}

{% block content %}
<header>
   
</header>



<main>
    <h3>Wondering how Tech thrives into the world</h3>
    
    <h2>Account Home Value</h2>
    <!-- Add more content as needed -->
</main>
{% endblock %}

{% block footer %}
<footer>
    <p>&copy; 2024 Your Website Name</p>
</footer>
{% endblock %}



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">  
</head>
<body>
    
    <header>
        <h1>Welcome to the Home Page</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            
        </ul>
    </nav>

    <main>
        <p>This is the home page of your application.</p>
        <p>You can customize this page to suit your needs.</p>
    </main>
    

    <footer>
        <p>&copy; 2024 Your Website Name</p>
    </footer>
</body>
</html> -->
