{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'teachers_app/styles.css' %}"
    />
    <title>Teacher Registration</title>
  </head>
  <body>
    <h3>Teacher Registration</h3>
    <form method="post" class="Register">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn-save">Submit</button>
    </form>
  </body>
</html>
